{% extends 'layout.html.twig' %}


{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/items_add.css">
	<link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}

{% block navbar %}

	{% include "Components/_navbar.html.twig" %}

{% endblock %}


{% block content %}
	<div class="main-background"></div>
	<div class='page'>
		<div class="add-form">
			<div class="list-container">
				<h3 class="list-title">{{ lists['name'] }}</h3>
				<h3 class="list-date">{{ lists['limit_date']|date('d-m-Y') }}</h3>
				<p class="list-description">
					<strong>{{ lists['description'] }}</strong>
				</p>
			</div>
			<div class="share_link-container">
				<a class="share_link" href="http://localhost:8000/list/share?share_link={{ lists.share_link }}" target="_blank" > Partager </a>
			</div>
			<div class="form-container">
				<div class="add_Article">
					<button class="add">
						Ajouter un cadeau
					</button>
				</div>
				<form class="form" action="" method="POST">
					<label for="giftName">
						<p class="giftName">Nom du cadeau</p>
					</label>
					<input type="text" id="giftName" placeholder="Entrer le nom du cadeau" name="giftName" required>
					<label for="price">
						<p class="price">Prix</p>
					</label>
					<input type="text" id="price" placeholder="Entrer le prix du cadeau" name="price" required>
					<label for="imgLink">
						<p class="imgLink">Lien de la photo</p>
					</label>
					<input type="text" id="imgLink" placeholder="Coller le lien de la photo" name="imgLink" required>
					<label for="giftLink">
						<p class="giftLink">Lien de l'article</p>
					</label>
					<input type="text" id="giftLink" placeholder="Coller le lien du cadeau" name="giftLink" required>
					<label for="description">
						<p class="description">Description</p>
					</label>
					<textarea class="description_area" id="description" placeholder="Indiquez des informations sur votre cadeau" name="description" required></textarea>
					<div>
						<input type="submit" id='submit' value="Ajouter">
					</div>
				</form>
				<div class="list-share-container">
					<div class="article-container">
						{% for article in list %}
							{% if article.is_gifted is same as "1" %}
							<div class="article-reserved">
								<div class="article-id-hidden hidden" id="article-id-hidden">{{ article.id}}</div>
								<div class="list-id-hidden hidden">{{ list[0]['list_id'] }}</div>
								<img class="article-img" alt="{{ article.name }}" src="{{ article.picture }}"/>
								<h4 class="article-title">{{ article.name }}</h4>
								<h4 class="article-price">{{ article.price }}€</h4>
								<p class="article-description">{{ article.description }}</p>
								<a class="seeMore-button" href="{{ article.market_link }}" target="_blank">
									<p>En savoir plus</p>
								</a>
								<div class="erase-button" id="erase-button">
									<p>Supprimer !</p>
								</div>
							</div>
							{% else %}
							<div class="article">
								<div class="article-id-hidden hidden" id="article-id-hidden">{{ article.id}}</div>
								<div class="list-id-hidden hidden">{{ list[0]['list_id'] }}</div>
								<img class="article-img" alt="{{ article.name }}" src="{{ article.picture }}"/>
								<h4 class="article-title">{{ article.name }}</h4>
								<h4 class="article-price">{{ article.price }}€</h4>
								<p class="article-description">{{ article.description }}</p>
								<a class="seeMore-button" href="{{ article.market_link }}" target="_blank">
									<p>En savoir plus</p>
								</a>
								<div class="erase-button" id="erase-button">
									<p>Supprimer !</p>
								</div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/javascript/add-article.js"></script>
{% endblock %}
