<div class="main-background"></div>
<h1>
    Listes
</h1>
<h2>
    Créez, Modifiez, et Partagez vos listes!
</h2>
<div class="no-account">
    <a class="no-account-href" href="/signup">Créer un compte</a>
</div>
<h3>
    Voici quelques exemples de listes.
</h3>
<div class="cards">
    {% for i in 0..2 %}
        <div class="card">
            <div style="display: none;">{{ lists[i][0][0]['lid'] }}</div>
            {% if lists[i][0][0]['ename'] is same as "Mariage" %}
                <div class="card-header wedding">{{ lists[i][0][0]['ename'] }}</div>
            {% elseif lists[i][0][0]['ename'] is same as "Anniversaire" %}
                <div class="card-header birthday">{{ lists[i][0][0]['ename'] }}</div>
            {% else %}
                <div class="card-header baby_shower">{{ lists[i][0][0]['ename'] }}</div>
            {% endif %}
            <div class="in-card">
                <div class="card-body">
                    <p class="card-title">{{ lists[i][0][0]['lname'] }}</p>
                    <p class="card-date">{{ lists[i][0][0]['limit_date']|date('d-m-Y') }}</p>
                    <p class="card-description">{{ lists[i][0][0]['ldescription'] }}</p>
                </div>
                <div class="gift-list">
                    {% for j in 0..3 %}
                        {% if lists[i][1][j]['aname'] is not null %}
                            {% if lists[i][0][0]['ename'] is same as "Mariage" %}
                                <p class="wedding">{{ lists[i][1][j]['aname'] }}</p>
                            {% elseif lists[i][0][0]['ename'] is same as "Anniversaire" %}
                                <p class="birthday">{{ lists[i][1][j]['aname'] }}</p>
                            {% else %}
                                <p class="baby_shower">{{ lists[i][1][j]['aname'] }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
